@import "tailwindcss";


/* Navbar */
.navbar {
  background: #1e293b;
  color: white;
  padding: 0.8rem 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #334155;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 220px;
    padding: 10px;
    border-radius: 8px;
  }

  .nav-links.active {
    display: flex;
  }
}
